@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  color: black !important;
/*  set smaller font */
  font-size: 1rem;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-primary-color {
  background-color: #d5e2ff;
}

