<div *ngIf="this.source">
  <div class="flex space-x-4">
    <div>

      <fa-icon [icon]="faInfo"></fa-icon>
    </div>
    <div>
      {{this.source.pageIndex + 1}}
    </div>
    <div>
      {{this.source.title}}
    </div>
    <div>
      <button
        mat-stroked-button
        class="full-textj"
      (click)="this.showSourceFullText = !this.showSourceFullText"
      >
        Fulltext
      </button>
    </div>
  </div>

  <div *ngIf="this.showSourceFullText">


    {{this.source.text}}

  </div>
</div>

