<div
  cdkDropList
  [cdkDropListData]="points"
  (cdkDropListDropped)="drop($event)"
  class="bg-gray-200 text-black rounded-l-2xl pl-4 pr-4 truncate  drop-shadow-lg pt-0 pb-4 select-none
">


  <div class="text-xs">
    <div class="flex justify-center">
      <div>
        <button mat-flat-button (click)="this.scroll.scrollToId('preview-bottom', undefined, 0)">To Bottom</button>
      </div>
      <div>
        <button mat-flat-button (click)="scroll.scrollToId('preview-top', undefined, 0)">To Top</button>
      </div>
    </div>
    <div class="flex justify-center">
      <div>
        <button
          mat-button
          [color]="previewState.autoBackScrollToSelectedPointNav ? 'accent' : undefined "
          (click)="this.previewState.autoBackScrollToSelectedPointNav = !this.previewState.autoBackScrollToSelectedPointNav"
        >
          Pin Selected
        </button>
      </div>
      <div>
        <button
          matTooltip="Whether to automatically scroll to mouseover point"
          mat-button
          [color]="previewState.autoScrollToMouseOverNavLine ? 'accent' : undefined "
          (click)="this.previewState.autoScrollToMouseOverNavLine= !this.previewState.autoScrollToMouseOverNavLine"
        >
          Instant Scroll
        </button>
      </div>

    </div>
  </div>
  <!--  preview draggable entry-->
  <div cdkDrag

       inViewport
       (inViewportAction)="onIntersection($event)"

       class="flex flex-col space-y-4   mb-0.5"
       (mouseenter)="this.preview.mouseOverNavLine.next(point.line)"
       (mouseleave)="onMouseLeaveNav()"
       [cdkDragDisabled]="!canDrag()"
       [id]="'nav-line-' + point.line"
       [cdkDragData]="point"
       *ngFor="let point of points; let pointIndex=index"
  >

    <!--    preview entry dragging placeholder-->
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

    <!--    Preview entry-->
    <div

      [ngClass]="{'bg-yellow-400': isNavPointSelected(point), ' border-t-2 rounded-t-xl border-t-gray-50 mt-2': isHeading(point), 'bg-yellow-200': isPreviewLineInViewPort(point.line) && !isNavPointSelected(point), 'bg-yellow-50': !isPreviewLineInViewPort(point.line) && !isNavPointSelected(point)}"
      class="flex
    text-left
   space-y-2
   text-xs
   py-1
   items-baseline
   hover:bg-yellow-400
 px-2
">

      <div class="w-1/12 text-gray-600 drop-shadow ">
        {{point.line}}
      </div>
      <div [ngClass]="{ 'font-bold underline': isHeading(point), 'pl-3': isLevelTwo(point), 'pl-4': isLevelThree(point),
      'pl-5': isLevelFour(point)  }"
           class="w-11/12">

        <a class="text-xs hover:underline hover:cursor-pointer flex"
           (click)="onClickNavPoint(point)"
           (dblclick)="onDblClickNavPoint(point)"
        >
          <div *ngIf="isHeading(point)" class="no-underline mr-2">
            {{point.headerLevel ?? ''}}
          </div>
          <!--          TODO I have added parent point to markdown point entity, here the point could use parent point to get correct indentation-->
          <pre class="whitespace-pre-line leading-3 "
               [ngClass]="{'font-bold text-white bg-red-700': isMouseOverLine(point.line)}">
            {{ point.content.split(' ').slice(0, 15).join(' ') }}
          </pre>
        </a>
      </div>
    </div>
  </div>

</div>
